version: '3'

vars:
  SSH_KEY: ~/.ssh/id_multipass

tasks:
  launch-instance:
    desc: Launch a Multipass VM named ansible-test
    cmds:
      - multipass launch --name ansible-test

  delete-instance:
    desc: Delete the ansible-test Multipass VM
    cmds:
      - multipass delete ansible-test || true
      - multipass purge

  add-ssh-key:
    desc: Append your public SSH key to the VM's authorized_keys
    cmds:
      - multipass exec ansible-test -- bash -c "cat >> ~/.ssh/authorized_keys" < {{.SSH_KEY}}.pub

  get-vm-ip-unix:
    desc: Get the IP address of the Multipass VM on macOS/Linux and save to .vm_ip
    platforms: [darwin, linux]
    cmds:
      - multipass info ansible-test | grep 'IPv4:' | awk '{print $2}' > .vm_ip

  get-vm-ip-windows:
    desc: Get the IP address of the Multipass VM on Windows and save to .vm_ip
    platforms: [windows]
    cmds:
      - multipass info ansible-test | powershell -Command "Select-String 'IPv4:' | ForEach-Object { \$_.Line.Split(':')[1].Trim() }" > .vm_ip

  get-vm-ip:
    desc: Get the IP address of the Multipass VM and save to .vm_ip (cross-platform)
    cmds:
      - task: get-vm-ip-unix
      - task: get-vm-ip-windows

  generate-inventory:
    desc: Generate Ansible inventory.yml with the VM IP read from .vm_ip
    cmds:
      - |
        VM_IP=$(cat .vm_ip)
        cat <<EOF > inventory.yml
        all:
          hosts:
            ansible-test:
              ansible_connection: ssh
              ansible_host: "$VM_IP"
              ansible_user: ubuntu
              ansible_ssh_private_key_file: {{.SSH_KEY}}
        EOF

  ansible-ping:
    desc: Test Ansible connectivity to the VM (not supported on Windows hosts)
    platforms: [darwin, linux]
    cmds:
      - ansible all -i inventory.yml -m ping

  ansible-playbook:
    desc: Run the Ansible playbook against the VM
    cmds:
      - ansible-playbook -i inventory.yml playbook.yml

  rebuild:
    desc: Delete the ansible-test instance, create a new one, and generate inventory.yml
    cmds:
      - task delete-instance
      - task launch-instance
      - task get-vm-ip
      - task generate-inventory
      - task add-ssh-key
      - task ansible-ping