---
- name: Provision Windows Golden Image
  hosts: all
  gather_facts: false # Often faster to skip on initial Windows connection

  tasks:
    - name: Ensure Chocolatey is installed
      win_chocolatey:
        name: chocolatey
        state: present

    - name: Install Tools via Chocolatey
      win_chocolatey:
        name: "{{ item }}"
        state: present
      loop:
        - git
        - notepadplusplus.install
        - 7zip

    - name: Create a custom marker file
      win_file:
        path: C:\golden_image_version.txt
        state: touch