---
- name: Install Ansible
  hosts: all
  become: true
  tasks:
    - name: Update apt cache and upgrade packages
      apt:
        update_cache: yes
        upgrade: dist

    - name: Install ansible
      apt:
        name: ansible
        state: present
